@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lato";
  font-weight: 100;
  src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  src: url("./assets/fonts/Lato-Black.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* .container {
  @apply max-w-7xl mx-auto px-10 py-0;
} */

/* Apply Urbanist font globally */
body {
  @apply font-LatoFont;
}

/* Icon-Set */
.svg-color {
  background: linear-gradient(135deg, rgb(255, 87, 0) 0%, rgb(255, 87, 0) 100%);
}

.icon-set {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: currentcolor;
  mask: url(.\assets\Images\moon.svg) center center / contain no-repeat;
}

@media (max-width: 992px) {
  .logo {
    display: none;
  }
  .slide-image {
    display: none;
  }
}

.text-stroke {
  -webkit-text-stroke: 3px;
}
